:root {
    --primary-color: #5f9ea0;
    --secondary-color: #3d6a6b; 
    --primary-font: Century Gothic, sans-serif;
    --secondary-font: Garamond, serif;
}

@supports (grid-area: auto){}
/* Smart Phones, approximately */
@media only screen and (min-width: 320px){}
/* Tablets, approximately */
@media only screen and (min-width: 480px){}
/* Laptops, approximately */
@media only screen and (min-width: 720px){}
/* Desktops, approximately */
@media only screen and (min-width: 1080px){}
/* Televisions */
@media only screen and (min-width: 1620px){}